<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
        <appender name="graylog" class="org.graylog2.log.GelfAppender">
                <param name="graylogHost" value="graylog-service"/> <!--localhost(local) ou graylog(docker) ou graylog-service(kuber)-->
                <param name="graylogPort" value="12201"/>
                <param name="originHost" value="infnetpb-service"/> <!--localhost(local) ou infnetpb-service(kuber)-->
                <param name="extractStacktrace" value="true"/>
                <param name="addExtendedInformation" value="true"/>
                <param name="facility" value="log4j"/>
                <param name="Threshold" value="INFO"/>
                <param name="additionalFields" value="{'environment': 'DEV', 'application': 'InfnetPbApplication'}"/>
        </appender>

        <root>
                <priority value="INFO" />
                <appender-ref ref="graylog" />
        </root>
</log4j:configuration>
